body {
  /* background-image: url(../src/assets/img/fondo-de-cuadricula-digital-abstracto-negro.jpg); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

h1 {
  color: #66cdf2;
}

.question-box,
.extensions {
  border-radius: 15px;
  background: #88dbb3;
  background: radial-gradient(
    circle,
    rgba(136, 219, 179, 1) 0%,
    rgba(216, 226, 237, 1) 100%
  );
}
.payment-img {
  width: 100px;
  height: 70px;
}
.media-section {
  cursor: pointer;
}
footer ul li a {
  color: black;
}
